# ------------------------------------
# A. Dependency and Environment Files
# ------------------------------------

jarvis_env/
node_modules/
__pycache__/
*.pyc
*.pyd
*.so

# ------------------------------------
# B. Runtime and Configuration Files
# ------------------------------------

.env
.jarvis
.token
.reminders

# Temporary files from audio processing
.prebuffer

# Actual sensitive files (json + logs)
credentials.json
token.json
reminders.json
jarvis.log
